<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CallTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <CallTracker.Properties.Settings>
      <setting name="Main_Position" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0.8.3.19</value>
      </setting>
      <setting name="AutoNewCall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarningLevel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MonitorIPCC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseAutoSort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NextContactsId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkingDate" serializeAs="String">
        <value>2014-09-07</value>
      </setting>
      <setting name="PullIPCCCallData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSearchIgnoreActiveWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolTipAsControlBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSearchOpenNew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTipsOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipsPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvancedMode" serializeAs="String">
        <value>False</value>
      </setting>
    </CallTracker.Properties.Settings>
  </userSettings>
</configuration>