<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CallTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <CallTracker.Properties.Settings>
      <setting name="Main_Position" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0.32.3</value>
      </setting>
      <setting name="AutoNewCall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarningLevel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MonitorIPCC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseAutoSort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NextContactsId" serializeAs="String">
        <value>0</value>
      </setting>
    </CallTracker.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ContactsContainer" connectionString="metadata=res://*/Source.Data.Contacts.csdl|res://*/Source.Data.Contacts.ssdl|res://*/Source.Data.Contacts.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=C:\Programming\CSharp\Projects\CallTracker\CallTracker\bin\Release\Data\Contacts.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
</configuration>